### parcel section start
section = parcel
name = parcel
type = box
size = 200 200 42
position = 0 0 -79
orientation = 0 0 0
material = air
wrapMaterial = g4_cardboard
wrapThickness = 0.4
### parcel section end

### drug section start
section = item
name = drug
type = box
size = 37 37 37
position = random uniform
orientation = 0 0 0
material = g4_bbf50a50
wrapMaterial = g4_collagen
wrapThickness = 2.0
### drug section end
